# Data
data/
*.mp3
*.webm
*.wav
download_archive.txt
cookies.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.conda_env/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db
